<!-- ====== Hero Section Start -->
<section
  id="home"
  class="relative overflow-hidden bg-primary "
>
<div class="absolute text-center w-full h-full flex items-center justify-center flex-col">
  <h1 class="mb-6 text-3xl font-bold leading-snug text-white sm:text-4xl sm:leading-snug lg:text-5xl lg:leading-[1.2]">
    用视觉记录精彩
    </h1>
    <p
      class="mx-auto mb-9 max-w-[600px] font-medium text-base text-white sm:text-lg sm:leading-[1.44]"
    >
    独具创新的广告创意制作，以创意先行，发掘品牌故事
    </p>
  </div>
  <img
    src="../../public/assets/hero/cover.jpeg"
    alt="hero"
    class="object-cover lg:h-screen lg:w-screen sm:w-full sm:h-auto"
  />
</section>
<!-- ====== Hero Section End -->
