<!-- ====== About Section Start -->
<section
  id="about"
  class="bg-gray-1 dark:bg-dark-2 pt-20 pb-8 lg:pt-[120px] lg:pb-[70px]"
>
  <div class="container">
    <div class="wow fadeInUp" data-wow-delay=".2s">
      <div class="-mx-4 flex flex-wrap items-center">
        <div class="w-full px-4 lg:w-1/2">
          <div class="mb-12 max-w-[540px] lg:mb-0">
            <h2
              class="mb-5 text-3xl font-bold leading-tight text-dark dark:text-white sm:text-[40px] sm:leading-[1.2]">
              多元化一站式服务
            </h2>
            <p class="mb-10 text-base leading-relaxed text-body-color dark:text-dark-6">
              佛山市高卡仕广告有限公司，成立于2018年，以卓越的服务质量、顶尖的摄影技术和高端的设计理念著称。我们的创意广告制作以创新为核心，致力于用视觉艺术记录下每一个精彩瞬间。
              <br> <br>
              作为一家集家具与卫浴产品摄影、画册设计、影视制作、3D制作及装潢策划的多功能一站式服务广告公司，我们坐落于广东佛山——广东最大的家具生产基地和品牌孵化中心。拥有3000平方米的超大型摄影基地和丰富多样的家居背景，我们能够完美匹配并展现各种风格的家具，助力品牌形象提升。
            </p>

            <a href="javascript:void(0)"
              class="inline-flex items-center justify-center py-3 text-base font-medium text-center text-white border border-primary rounded-md px-7 bg-primary hover:bg-blue-dark hover:border-blue-dark">
              了解更多
            </a>
          </div>
        </div>

        <div class="w-full px-4 lg:w-1/2">
          <div class="flex flex-wrap -mx-2 sm:-mx-4 lg:-mx-2 xl:-mx-4">
            <div class="w-full px-2 sm:w-1/2 sm:px-4 lg:px-2 xl:px-4">
              <div class="mb-4 sm:mb-8 sm:h-[400px] md:h-[540px] lg:h-[400px] xl:h-[500px]">
                <img src="/assets/about/about-image-01.jpg" alt="about image"
                  class="object-cover object-center w-full h-full" />
              </div>
            </div>

            <div class="w-full px-2 sm:w-1/2 sm:px-4 lg:px-2 xl:px-4">
              <div class="mb-4 sm:mb-8 sm:h-[220px] md:h-[346px] lg:mb-4 lg:h-[225px] xl:mb-8 xl:h-[310px]">
                <img src="/assets/about/about-image-02.jpg" alt="about image"
                  class="object-cover object-center w-full h-full" />
              </div>

              <div
                class="bg-primary relative z-10 mb-4 flex items-center justify-center overflow-hidden py-12 px-6 sm:mb-8 sm:h-[160px] sm:p-5 lg:mb-4 xl:mb-8">
                <div>
                  <span class="block text-2xl font-extrabold text-white">
                    8年
                  </span>
                  <span class="block text-base font-medium text-white text-opacity-70">
                    丰富经验
                  </span>
                </div>
                <div>
                  <span class="absolute top-0 left-0 -z-10">
                    <svg width="106" height="144" viewBox="0 0 106 144" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <rect opacity="0.1" x="-67" y="47.127" width="113.378" height="131.304"
                        transform="rotate(-42.8643 -67 47.127)" fill="url(#paint0_linear_1416_214)" />
                      <defs>
                        <linearGradient id="paint0_linear_1416_214" x1="-10.3111" y1="47.127" x2="-10.3111"
                          y2="178.431" gradientUnits="userSpaceOnUse">
                          <stop stop-color="white" />
                          <stop offset="1" stop-color="white" stop-opacity="0" />
                        </linearGradient>
                      </defs>
                    </svg>
                  </span>
                  <span class="absolute top-0 right-0 -z-10">
                    <svg width="130" height="97" viewBox="0 0 130 97" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect opacity="0.1" x="0.86792" y="-6.67725" width="155.563" height="140.614"
                        transform="rotate(-42.8643 0.86792 -6.67725)" fill="url(#paint0_linear_1416_215)" />
                      <defs>
                        <linearGradient id="paint0_linear_1416_215" x1="78.6495" y1="-6.67725" x2="78.6495"
                          y2="133.937" gradientUnits="userSpaceOnUse">
                          <stop stop-color="white" />
                          <stop offset="1" stop-color="white" stop-opacity="0" />
                        </linearGradient>
                      </defs>
                    </svg>
                  </span>
                  <span class="absolute bottom-0 right-0 -z-10">
                    <svg width="175" height="104" viewBox="0 0 175 104" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <rect opacity="0.1" x="175.011" y="108.611" width="101.246" height="148.179"
                        transform="rotate(137.136 175.011 108.611)" fill="url(#paint0_linear_1416_216)" />
                      <defs>
                        <linearGradient id="paint0_linear_1416_216" x1="225.634" y1="108.611" x2="225.634" y2="256.79"
                          gradientUnits="userSpaceOnUse">
                          <stop stop-color="white" />
                          <stop offset="1" stop-color="white" stop-opacity="0" />
                        </linearGradient>
                      </defs>
                    </svg>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== About Section End -->
